<!DOCTYPE html>
<html lang="es">
<head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Website CSS style -->
		<link href="vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Supermercado El Mundo - Sorteo de Navidad</title>
	</head>
<body>
	<div class="container">
		<div class="row main">
			<h1>¡Gracias por participar, <%=nombre%>!</h1>
			<p>En caso de ganarte un premio te informaremos al teléfono proporcionado</p>
		</div>
	</div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src='vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>		 

</body>
</html>